body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text_left {
  text-align: left;
  display: flex;
}

label {
  width: 100%;
}

.text_left :hover {
  cursor: pointer;
  color: blue;
}

button:hover {
  cursor: pointer;
}

.wrong {
  color: red;
}

.right {
  color: green;
}